
<div class="panel panel-default panel-body">
    <div class="panel panel-default funct">
        <div class="panel-heading" style="background-color: paleturquoise">
            <h2>Admin Privilages</h2>
        </div>
        <div class="panel-body">
            <ul style="list-style-type: none; padding-left: 0; margin-top: 15px">
                <li>
                    @Html.ActionLink("Change User Privilages", "AddUserToRole", "Account", null, new { @class = "btn btn-info kopce", style = "color: red; text-decoration:none;" })
                </li>
                <li>
                    @Html.ActionLink("What else???", "Index", "Workout", null, new { @class = "btn btn-info kopce", style = "color: white; text-decoration:none;" })
                </li>
            </ul>
        </div>
    </div>
</div>