

<div class="jumbotron">
    <h1>Fitnes Niko</h1>
    <h2>Best Gym In Town</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">Welcome: </p>
        @Html.ActionLink("Sucessfull Lifts", "Index", "Workout", null, htmlAttributes: new { @class = "btn btn-info btn-lg inf" })
    }

    


</div>

<style>
    
    .marg {
        margin-right: 5px;
    }

    h1,h2{
        text-align:center;
    }

    .inf {
        margin-left: -5px;
    }
</style>
